
</head>
<body>
<header>
<h1>Kommune 69</h1> 
<h2><%= title  %></h2>
<nav>
    <% if(user){ %>
        <a href="/logOut">Logg Ut</a>
    <% }else{ %>
    <a href="/signIn">Logg Inn</a>
    <% } %>
    <a href="/">Hovedside</a>
</nav>
</header>